.homeProducts {
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .productRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .pCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .productName {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .contained{
    color: blue;
    font-size: 10px;
  }
  