
.boldSection .port .boldCell .boldCellInner .boldRowHorizontal {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  flex-wrap:wrap;
}

.rowItem {
  flex: 1;
  max-width: 48%; 
  padding: 10px 0px 0px 25px;
}

@media (max-width: 768px) {
  .rowItem {
      max-width: 100%; 
  }
}

.boldSection .port .boldCell .boldCellInner .boldRow {
  max-width: 1500px;
  margin: 0px;
  padding: 0 20px;
}

.boldSection .port .boldCell .boldCellInner .boldRowHorizontal .rowItem {
  display: inline-block;
  justify-content: center; 
  gap: 20px; 
}

.boldSection .port .boldCell .boldCellInner .boldRowHorizontal .rowItem img {
  width: 100%;
  height: auto; 
}
