.marquee-container {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap; 
  background-color: #f8f8f8;
  position: relative;
}

.marquee-content {
  display: inline-flex; 
  animation: slide 20s linear infinite; 
}

.marquee-content p {
  display: inline-flex;
  align-items: center;
  margin-right: 30px; 
  font-size: 18px;
  color: #333;
}

.marquee-content img {
  width: 100%; 
  height: 100%;
  margin-left: 5px; 
}
.Banner-Section img{
  width: 1200px;
  height: 500px;
  margin-left: 10px;
}


@keyframes slide {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}
