.Banner-Section {
    width: 100%;
    height: 500px; /* Fixed height for the slider */
    overflow: hidden; /* Hide any overflow from images */
  }
  
  .Banner-Section img {
    width: 90%; /* Full container width */
    height: 150%; /* Full container height */
    object-fit: cover; /* Scale image to cover the container while maintaining aspect ratio */
    border-radius: 10px; /* Optional: rounded corners */
  }
  
  .Banner-Section img:hover {
    transform: scale(1.1);
  }
  
  .slick-slide img {
    display: block;
    margin: auto;
  }
  
  .slick-dots li button:before {
    color: #000; /* Dots color */
  }
  